#mainTable tr td {
    text-align: center;
}

#mainTable, #kanbanTable th {
    text-align: center;
}

@media screen and (max-width: 700px){
    #mainTable {
        font-size:10px;
    }
    #kanbanTable {
        font-size:10px;
    }
}


/* Tooltip container */
.hintTip {
    position: relative;
    display: inline-block;
    border-color: black;
    border-style:solid;
    border-width:1px;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.hintTip .hintText {
    visibility: hidden;
    font-size:12px;
    width: 180px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    opacity: 0.65;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 100%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.hintTip:hover .hintText {
    visibility: visible;
}